<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeCommunityNewGroupMapper">

    <select id="findUserNameByUserIds" resultType="java.util.HashMap">
        SELECT we_user_id,user_name FROM sys_user where user_id in
        <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>



    <sql id="selectSql">
        SELECT id,
               empl_code_name as codeName,
               empl_code_id as emplCodeId,
               group_code_id as groupCodeId,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        FROM we_community_new_group
    </sql>

    <select id="selectWeCommunityNewGroupList" resultType="com.linkwechat.domain.community.vo.WeCommunityNewGroupVo">
        <include refid="selectSql"/>
        <where>
            del_flag = 0
            <if test="null != id">
                AND id=#{id}
            </if>
            <if test="emplCodeName !=null and emplCodeName !=''">
                AND empl_code_name LIKE CONCAT("%",#{emplCodeName},"%")
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>

            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="createBy!=null and createBy!=''">
                AND create_by LIKE CONCAT("%",#{createBy},"%")
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getWelcomeMsgByState" parameterType="String" resultMap="WelcomeMsgResult">
        select wec.id,wgc.code_url, wec.welcome_msg,wect.tag_id,wect.tag_name
        from we_emple_code wec
                 left join we_emple_code_tag wect on wec.id = wect.emple_code_id and wect.del_flag = 0
                 left join we_community_new_group wcng on wec.id = wcng.empl_code_id
                 left join we_group_code wgc on wcng.group_code_id = wgc.id
        where 1=1
          and wec.state = #{state}
          and wec.del_flag = 0
    </select>

    <resultMap type="com.linkwechat.domain.community.vo.WeCommunityWeComeMsgVo" id="WelcomeMsgResult">
        <result property="id" column="id"/>
        <result property="codeUrl" column="code_url"/>
        <result property="welcomeMsg" column="welcome_msg"/>
        <collection property="tagList" ofType="com.linkwechat.domain.tag.vo.WeTagVo">
            <result property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>


</mapper>