<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeMomentsEstimateUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linkwechat.domain.moments.entity.WeMomentsEstimateUser">
        <id column="id" property="id"/>
        <result column="moments_task_id" property="momentsTaskId"/>
        <result column="user_id" property="userId"/>
        <result column="we_user_id" property="weUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, moments_task_id, user_id, we_user_id
    </sql>

</mapper>
