<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeMomentsMapper">



    <resultMap type="com.linkwechat.domain.WeMoments" id="WeMomentsResult">
                <result property="id" column="id" jdbcType="INTEGER"/>
                <result property="jobId" column="job_id" jdbcType="VARCHAR"/>
                <result property="momentId" column="moment_id" jdbcType="VARCHAR"/>
                <result property="scopeType" column="scope_type" jdbcType="INTEGER"/>
                <result property="contentType" column="content_type" jdbcType="VARCHAR"/>
                <result property="type" column="type" jdbcType="INTEGER"/>
                <result property="customerTag" column="customer_tag" jdbcType="VARCHAR"/>
                <result property="creator" column="creator" jdbcType="VARCHAR"/>
                <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
                <result property="noAddUser" column="no_add_user" jdbcType="VARCHAR"/>
                <result property="content" column="content" jdbcType="VARCHAR"/>
                <result property="otherContent" column="other_content" jdbcType="VARCHAR" typeHandler="com.linkwechat.config.mybatis.GenericTypeHandler"/>
                <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
                <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
                <result property="updateById" column="update_by_id" jdbcType="INTEGER"/>
                <result property="createById" column="create_by_id" jdbcType="INTEGER"/>
                <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                <result property="pushTime" column="push_time" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
                <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
                <result property="isLwPush" column="is_lw_push" jdbcType="INTEGER"/>
                <result property="realType" column="real_type" jdbcType="INTEGER"/>
                <result property="materialId" column="material_id" jdbcType="INTEGER"/>
                <result property="status" column="status" jdbcType="INTEGER"/>
            </resultMap>

    <sql id="selectWeMomentsVo">
        select id, job_id, moment_id, scope_type, content_type, type, customer_tag, creator, add_user, no_add_user, content, other_content, create_by, update_by, update_by_id, create_by_id, create_time, push_time, update_time, del_flag, is_lw_push, real_type, material_id from we_moments
    </sql>

    <select id="findMoments" resultType="com.linkwechat.domain.WeMoments">
        SELECT
        wm.id,
        wm.content,
        wm.content_type,
        wm.real_type,
        wm.material_id,
        wm.status,
        IFNULL((SELECT GROUP_CONCAT(DISTINCT wu.user_name) as userName FROM sys_user wu WHERE wu.we_user_id=wm.creator),creator) as creator,
        ifnull(wm.no_add_user, (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu WHERE  FIND_IN_SET(wu.we_user_id,wm.no_add_user))) as noAddUserName,
        (SELECT GROUP_CONCAT(wu.we_user_id) FROM sys_user wu WHERE FIND_IN_SET(wu.we_user_id,wm.no_add_user)) as noAddUser,
        (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu WHERE FIND_IN_SET(wu.we_user_id,wm.add_user)) as addUserName,
        (SELECT GROUP_CONCAT(wu.we_user_id) FROM sys_user wu WHERE FIND_IN_SET(wu.we_user_id,wm.add_user)) as addUser,
        push_time as createTime,
        moment_id,
        (SELECT count(*) FROM we_moments_interacte wmi WHERE wmi.moment_id=wm.moment_id and wmi.interacte_type=0) as commentNum,
        (SELECT count(*) FROM we_moments_interacte wmi WHERE wmi.moment_id=wm.moment_id and  wmi.interacte_type=1) as pointNum
        FROM
        we_moments wm
        <where>
            <if test="type !=null">
                AND wm.type=#{type}
            </if>
            <if test="creator !=null and creator !=''">
                AND  wm.creator=#{creator}
            </if>
            <if test="beginTime !=null and beginTime !='' and endTime !=null and endTime !='' ">
                AND  date_format(wm.push_time ,'%Y-%m-%d') BETWEEN #{beginTime} AND #{endTime}
            </if>
        </where>
        order by  wm.push_time desc
    </select>


    <resultMap id="MomentsDetailMapper" type="com.linkwechat.domain.WeMoments">
        <result column="content" property="content"></result>
        <result column="other_content" property="otherContent" typeHandler="com.linkwechat.config.mybatis.GenericTypeHandler"></result>
        <result column="noAddUserName" property="noAddUserName"></result>
        <result column="addUserName" property="addUserName"></result>
        <result column="momentUserName" property="momentUserName"></result>
        <result column="pointUserName" property="pointUserName"></result>
        <result column="momentCustomerName" property="momentCustomerName"></result>
        <result column="pointCustomerName" property="pointCustomerName"></result>
        <result column="status" property="status"></result>
    </resultMap>
    <select id="findMomentsDetail" resultMap="MomentsDetailMapper">
        SELECT
            wm.id,
            wm.content,
            wm.other_content,
            wm.status,
            (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu WHERE FIND_IN_SET(wu.we_user_id,wm.no_add_user)) as noAddUserName,
            (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu WHERE FIND_IN_SET(wu.we_user_id,wm.add_user)) as addUserName,
            (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu
                                                        LEFT JOIN we_moments_interacte wmi ON wu.we_user_id=wmi.interacte_user_id WHERE wmi.interacte_type=0 and wmi.interacte_user_type=0
                                                                                                                                    and wmi.moment_id=wm.moment_id
            ) as momentUserName,
            (SELECT GROUP_CONCAT(wu.user_name) FROM sys_user wu
                                                        LEFT JOIN we_moments_interacte wmi ON wu.we_user_id=wmi.interacte_user_id WHERE wmi.interacte_type=1 and wmi.interacte_user_type=0
                                                                                                                                    and wmi.moment_id=wm.moment_id
            ) as pointUserName,
            (SELECT GROUP_CONCAT(DISTINCT wu.customer_name) FROM we_customer wu
                                                                     LEFT JOIN we_moments_interacte wmi ON wu.external_userid=wmi.interacte_user_id WHERE wmi.interacte_type=0 and wmi.interacte_user_type=1
                                                                                                                                                      and wmi.moment_id=wm.moment_id
            ) as momentCustomerName,
            (SELECT GROUP_CONCAT(DISTINCT wu.customer_name) FROM we_customer wu
                                                                     LEFT JOIN we_moments_interacte wmi ON wu.external_userid=wmi.interacte_user_id WHERE wmi.interacte_type=1 and wmi.interacte_user_type=1
                                                                                                                                                      and wmi.moment_id=wm.moment_id
            ) as pointCustomerName,
            wm.real_type,
            wm.material_id
        FROM
            we_moments wm
        where wm.id=#{id}
    </select>

    <select id="removePushLwPush">
        DELETE FROM we_moments WHERE is_lw_push=1
    </select>

</mapper>
