<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeMomentsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linkwechat.domain.moments.entity.WeMomentsUser">
        <id column="id" property="id"/>
        <result column="moment_task_id" property="momentsTaskId"/>
        <result column="moments_id" property="momentsId"/>
        <result column="user_id" property="userId"/>
        <result column="we_user_id" property="weUserId"/>
        <result column="user_name" property="userName"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="execute_status" property="executeStatus"/>
        <result column="execute_count" property="executeCount"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_by_id" property="updateById"/>
        <result column="create_by_id" property="createById"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        moment_task_id,
        moments_id,
        user_id,
        we_user_id,
        user_name,
        dept_id,
        dept_name,
        execute_status,
        execute_count,
        create_by,
        update_by,
        update_by_id,
        create_by_id,
        create_time,
        update_time,
        del_flag
    </sql>


    <resultMap id="MobileResult" type="com.linkwechat.domain.moments.vo.WeMomentsTaskMobileVO">
        <result column="id" property="weMomentsTaskId"/>
        <result column="moments_id" property="momentsId"/>
        <result column="name" property="name"/>
        <result column="create_by" property="createBy"/>
        <result column="execute_time" property="executeTime"/>
        <result column="execute_end_time" property="executeEndTime"/>
        <result column="content" property="content"/>
        <result column="customer_tag" property="customerTag"/>
        <result column="execute_status" property="executeStatus"/>
        <result column="status" property="status"/>
        <collection property="materialList" ofType="com.linkwechat.domain.material.entity.WeMaterial">
            <result column="material_url" property="materialUrl"/>
            <result column="material_name" property="materialName"/>
            <result column="cover_url" property="coverUrl"/>
            <result column="media_type" property="mediaType"/>
        </collection>
    </resultMap>


    <select id="mobileList" resultMap="MobileResult">
        SELECT t1.execute_status,
               t1.moments_id,
               t2.id,
               t2.name,
               t2.create_by,
               t2.execute_time,
               t2.execute_end_time,
               t2.content,
               t2.customer_tag,
               t2.status,
               t4.material_url,
               t4.material_name,
               t4.cover_url,
               t4.media_type
        FROM we_moments_user t1
                 LEFT JOIN we_moments_task t2 ON t1.moments_task_id = t2.id
                 LEFT JOIN we_moments_attachments t3 ON t1.moments_task_id = t3.moments_task_id
                 Left JOIN we_material t4 on t3.material_id = t4.id
        WHERE t1.del_flag = 0
          AND t1.we_user_id = #{weUserId}
          AND t2.status = #{status}
        ORDER BY t1.create_time DESC
    </select>


    <select id="mobileGet" resultType="com.linkwechat.domain.moments.vo.WeMomentsTaskMobileVO">
        SELECT t1.execute_status,
               t1.moments_id,
               t2.id,
               t2.name,
               t2.create_by,
               t2.execute_time,
               t2.execute_end_time,
               t2.content,
               t2.customer_tag,
               t2.status
        FROM we_moments_user t1
                 LEFT JOIN we_moments_task t2 ON t1.moments_task_id = t2.id
        WHERE t1.del_flag = 0
          AND t1.we_user_id = #{weUserId}
          AND t1.moments_task_id = #{weMomentsTaskId}
    </select>


</mapper>
