<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeQiRuleMsgNoticeMapper">

    <resultMap type="com.linkwechat.domain.WeQiRuleMsgNotice" id="WeQiRuleMsgNoticeResult">
                <result property="id" column="id" jdbcType="INTEGER"/>
                <result property="qiRuleMsgId" column="qi_rule_msg_id" jdbcType="INTEGER"/>
                <result property="userId" column="user_id" jdbcType="VARCHAR"/>
                <result property="type" column="type" jdbcType="INTEGER"/>
                <result property="status" column="status" jdbcType="INTEGER"/>
                <result property="msgId" column="msg_id" jdbcType="VARCHAR"/>
                <result property="invalidUser" column="invalid_user" jdbcType="VARCHAR"/>
                <result property="unlicensedUser" column="unlicensed_user" jdbcType="VARCHAR"/>
                <result property="responseCode" column="response_code" jdbcType="VARCHAR"/>
                <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
                <result property="createById" column="create_by_id" jdbcType="INTEGER"/>
                <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
                <result property="updateById" column="update_by_id" jdbcType="INTEGER"/>
                <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
                <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            </resultMap>

    <sql id="selectWeQiRuleMsgNoticeVo">
        select id, qi_rule_msg_id, user_id, type, status, msg_id, invalid_user, unlicensed_user, response_code, create_by, create_by_id, create_time, update_by, update_by_id, update_time, del_flag from we_qi_rule_msg_notice
    </sql>

</mapper>
