<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.mapper.WeTaskFissionStaffMapper">



    <resultMap type="com.linkwechat.domain.WeTaskFissionStaff" id="WeTaskFissionStaffResult">
                <result property="id" column="id" jdbcType="INTEGER"/>
                <result property="taskFissionId" column="task_fission_id" jdbcType="INTEGER"/>
                <result property="staffType" column="staff_type" jdbcType="INTEGER"/>
                <result property="staffId" column="staff_id" jdbcType="VARCHAR"/>
                <result property="staffName" column="staff_name" jdbcType="VARCHAR"/>
                <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
                <result property="createById" column="create_by_id" jdbcType="INTEGER"/>
                <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
                <result property="updateById" column="update_by_id" jdbcType="INTEGER"/>
                <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            </resultMap>

    <sql id="selectWeTaskFissionStaffVo">
        select id, task_fission_id, staff_type, staff_id, staff_name, create_time, create_by, create_by_id, update_time, update_by, update_by_id, del_flag from we_task_fission_staff
    </sql>

</mapper>
