target
bak
.pmd
.project
.settings
.classpath
.idea.xml
.idea
*.class
*.bak
*.iml
*.ipr
*.iws
bak
null/
tree.log
tmp/
velocity.log
.DS_Store
logs
.m2
linkwe-ui/src/.env.production
linkwe-ui/src/.env.development
linkwe-mobile/src/.env.production
linkwe-mobile/src/.env.development
linkwe-mobile/mobile/
linkwe-taskMobile/dist/
linkwe-admin/
linkwe-common/
linkwe-framework/
linkwe-generator/
linkwe-quartz/
linkwe-system/
linkwe-wecom/
sql/