// base color
$blue: #0079de;
$light-blue: #4ca1e8;
$red: #e74e59;
$pink: #e65d6e;
$green: #06c160;
$tiffany: #4ab7bd;
$yellow: #ffcf0e;
$panGreen: #30b08f;
$grayBg: #efeff4;

$sub-text-color: #999;
.sub-text-color {
  color: $sub-text-color;
}
// sidebar
$menuText: #333;
$menuActiveText: #333;
$subMenuActiveText: #333; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuActiveBg: #fafafa;
$menuHover: #fafafa;

$subMenuBg: #fff;
$subMenuActiveBg: #fafafa;
$subMenuHover: #fafafa;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
