<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeAllocateCustomerMapper">


    <insert id="batchAddOrUpdate" >
        INSERT INTO we_allocate_customer(
        takeover_userid,
        external_userid,
        allocate_time,
        handover_userid,
        status,
        takeover_time,
        fail_reason
        ) values
        <foreach collection="weAllocateCustomers" item="item" index="index" separator=",">
            (#{item.takeoverUserid},#{item.externalUserid},#{item.allocateTime},#{item.handoverUserid},#{item.status},#{item.takeoverTime},#{item.failReason})
        </foreach>
        ON DUPLICATE KEY UPDATE
        takeover_userid=IFNULL(VALUES(takeover_userid),we_allocate_customer.takeover_userid),
        allocate_time=IFNULL(VALUES(allocate_time) , we_allocate_customer.allocate_time),
        takeover_time=IFNULL(VALUES(takeover_time), we_allocate_customer.takeover_time),
        status=IFNULL(VALUES(status),we_allocate_customer.status),
        fail_reason=IFNULL(VALUES(fail_reason),we_allocate_customer.fail_reason);
    </insert>
    

    
</mapper>