<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCommunityNewGroupMapper">

    <resultMap id="communityNewGroupResult" type="WeCommunityNewGroupVo">
        <result property="id" column="id" />
        <result property="groupCodeId" column="group_code_id" />
        <result property="codeName" column="empl_code_name" />
        <result property="emplCodeId" column="empl_code_id" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectSql">
        SELECT id,
               empl_code_name,
               empl_code_id,
               group_code_id,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        FROM we_community_new_group
    </sql>

    <update id="batchRemoveWeCommunityNewGroupByIds">
        update we_community_new_group set
        del_flag = 1
        where id in
        <foreach collection="ids" item="id" index="index"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectWeCommunityNewGroupList" resultMap="communityNewGroupResult">
        <include refid="selectSql"/>
        <where>
            del_flag = 0
            <if test="emplCodeName !=null and emplCodeName !=''">
                AND empl_code_name LIKE CONCAT("%",#{emplCodeName},"%")
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>

            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="createBy!=null and createBy!=''">
                AND create_by LIKE CONCAT("%",#{createBy},"%")
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWeCommunityNewGroupById" resultMap="communityNewGroupResult">
        <include refid="selectSql"/>
        <where>
            del_flag = 0 AND id = #{id}
        </where>
    </select>

    <select id="selectWeCommunityNewGroupByIds" resultMap="communityNewGroupResult">
        <include refid="selectSql"/>
        <where>
            del_flag = 0
            AND id in
            <foreach collection="ids" item="id" index="index"
                     separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <update id="removeWeCommunityNewGroupByEmplCodeId" parameterType="Long">
        UPDATE we_community_new_group SET del_flag = 1 WHERE empl_code_id = #{emplCodeId}
    </update>

    <select id="getWelcomeMsgByState" parameterType="String" resultMap="WelcomeMsgResult">
        select wec.id,wgc.code_url, wec.welcome_msg,wect.tag_id,wect.tag_name
        from we_emple_code wec
                 left join we_emple_code_tag wect on wec.id = wect.emple_code_id and wect.del_flag = 0
                 left join we_community_new_group wcng on wec.id = wcng.empl_code_id
                 left join we_group_code wgc on wcng.group_code_id = wgc.id
        where 1=1
          and wec.state = #{state}
          and wec.del_flag = 0
    </select>

    <resultMap type="WeCommunityWeComeMsgVo" id="WelcomeMsgResult">
        <result property="id" column="id"/>
        <result property="codeUrl" column="code_url"/>
        <result property="welcomeMsg" column="welcome_msg"/>
        <collection property="tagList" ofType="com.linkwechat.wecom.domain.vo.tag.WeTagVo">
            <result property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>
</mapper>