<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCorpAccountMapper">



    <update id="startVailWeCorpAccount">
          UPDATE we_corp_account
          SET `status` = (CASE WHEN corp_id = #{corpId} THEN 0 ELSE 1 END)
    </update>







    
</mapper>