<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCorpAccountMapper">
    
    <resultMap type="WeCorpAccount" id="WeCorpAccountResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="company_name"    />
        <result property="corpId"    column="corp_id"    />
        <result property="corpSecret"    column="corp_secret"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="contactSecret" column="contact_secret" />
        <result property="agentId" column="agent_id" />
        <result property="agentSecret" column="agent_secret" />
        <result property="chatSecret" column="chat_secret" />
        <result property="providerSecret" column="provider_secret" />
        <result property="customerChurnNoticeSwitch" column="customer_churn_notice_switch" />
        <result property="wxQrLoginRedirectUri" column="wx_qr_login_redirect_uri"/>
    </resultMap>

    <sql id="selectWeCorpAccountVo">
        select id,chat_secret,provider_secret,company_name, corp_id, corp_secret,agent_id, agent_secret, status, del_flag, create_by, create_time, update_by, update_time,contact_secret, customer_churn_notice_switch,wx_qr_login_redirect_uri from we_corp_account
    </sql>

    <select id="selectWeCorpAccountList" parameterType="WeCorpAccount" resultMap="WeCorpAccountResult">
        <include refid="selectWeCorpAccountVo"/>
        <where>  
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="corpId != null  and corpId != ''"> and corp_id = #{corpId}</if>
            <if test="corpSecret != null  and corpSecret != ''"> and corp_secret = #{corpSecret}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWeCorpAccountById" parameterType="Long" resultMap="WeCorpAccountResult">
        <include refid="selectWeCorpAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeCorpAccount" parameterType="WeCorpAccount" useGeneratedKeys="true" keyProperty="id">
        insert into we_corp_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">company_name,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="corpSecret != null">corp_secret,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="contactSecret != null ">contact_secret,</if>
            <if test="chatSecret != null ">chat_secret,</if>
            <if test="agentId != null ">agent_id,</if>
            <if test="agentSecret != null ">agent_secret,</if>
            <if test="customerChurnNoticeSwitch != null ">customer_churn_notice_switch,</if>
            <if test="providerSecret != null ">provider_secret,</if>
            <if test="wxQrLoginRedirectUri != null ">wx_qr_login_redirect_uri,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">#{companyName},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="corpSecret != null">#{corpSecret},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="contactSecret != null ">#{contactSecret},</if>
            <if test="chatSecret != null ">#{chatSecret},</if>
            <if test="agentId != null ">#{agentId},</if>
            <if test="agentSecret != null ">#{agentSecret},</if>
            <if test="customerChurnNoticeSwitch != null ">#{customerChurnNoticeSwitch},</if>
            <if test="providerSecret != null ">#{providerSecret},</if>
            <if test="wxQrLoginRedirectUri != null ">#{wxQrLoginRedirectUri},</if>
         </trim>
    </insert>

    <update id="updateWeCorpAccount" parameterType="WeCorpAccount">
        update we_corp_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="corpId != null">corp_id = #{corpId},</if>
            <if test="corpSecret != null">corp_secret = #{corpSecret},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="contactSecret != null ">contact_secret = #{contactSecret},</if>
            <if test="chatSecret != null ">chat_secret = #{chatSecret},</if>
            <if test="agentId != null ">agent_id = #{agentId},</if>
            <if test="agentSecret != null ">agent_secret =#{agentSecret},</if>
            <if test="customerChurnNoticeSwitch != null ">customer_churn_notice_switch = #{customerChurnNoticeSwitch},</if>

            <if test="providerSecret != null ">provider_secret = #{providerSecret},</if>
            <if test="wxQrLoginRedirectUri != null ">wx_qr_login_redirect_uri = #{wxQrLoginRedirectUri},</if>


        </trim>
        where id = #{id}
    </update>



    <select id="findValidWeCorpAccount" resultMap="WeCorpAccountResult">
        <include refid="selectWeCorpAccountVo"/>
        WHERE
            del_flag = 0
        AND STATUS = 0
    </select>


    <update id="startVailWeCorpAccount">
          UPDATE we_corp_account
          SET `status` = (CASE WHEN corp_id = #{corpId} THEN 0 ELSE 1 END)
    </update>





    
</mapper>