<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCustomerMapper">

    <select id="findWeCustomerList" resultType="com.linkwechat.wecom.domain.WeCustomerList">
        SELECT
            wc.avatar,
            wc.`name` as customerName,
            wc.customer_type as customerType,
            wc.tag_ids as tagIds,
            wc.external_userid,
            wc.first_user_id,
            wc.track_state,
            wc.add_method,
            wc.first_add_time,
            wc.birthday,
            wc.gender,
            wc.phone,
            wc.email,
            wc.address,
            wc.qq,
            wc.position,
            wc.corp_name as corpName,
            wc.other_descr as otherDescr,
            (SELECT GROUP_CONCAT(wu.user_name) FROM we_user wu WHERE wu.user_id=wc.first_user_id) as userName,
            (SELECT GROUP_CONCAT(wt.tag_id) FROM we_flower_customer_tag_rel wfctr
            LEFT JOIN we_tag wt ON wt.tag_id= wfctr.tag_id
            WHERE wfctr.external_userid=wc.external_userid AND wc.first_user_id=wfctr.user_id AND wt.tag_type=3
            )  as personTagIds,
            (SELECT GROUP_CONCAT(wt.name) FROM we_flower_customer_tag_rel wfctr
            LEFT JOIN we_tag wt ON wt.tag_id= wfctr.tag_id
            WHERE wfctr.external_userid=wc.external_userid AND wc.first_user_id=wfctr.user_id AND wt.tag_type=3
            )  as personTagNames,
            (SELECT GROUP_CONCAT(wt.name) FROM we_flower_customer_tag_rel wfctr
            LEFT JOIN we_tag wt ON wt.tag_id= wfctr.tag_id
            WHERE wfctr.external_userid=wc.external_userid AND wc.first_user_id=wfctr.user_id AND wt.tag_type=1
            )  as tagNames
        FROM
        we_customer wc
        JOIN
        (
        SELECT wcr.external_userid,wcr.first_user_id FROM we_customer wcr
        <where>
            <if test="weCustomerList.gender !=null">
                AND wcr.gender=#{weCustomerList.gender}
            </if>

            <if test="weCustomerList.trackState !=null">
                AND wcr.track_state=#{weCustomerList.trackState}
            </if>

            <if test="weCustomerList.addMethod !=null">
                AND wcr.add_method=#{weCustomerList.addMethod}
            </if>

            <if test="weCustomerList.customerType !=null">
                AND wcr.customer_type=#{weCustomerList.customerType}
            </if>

            <if test="weCustomerList.externalUserid !=null">
                AND wcr.external_userid=#{weCustomerList.externalUserid}
            </if>

            <if test="weCustomerList.firstUserId !=null">
                AND wcr.first_user_id=#{weCustomerList.firstUserId}
            </if>

            <if test="weCustomerList.delFlag != null">
                AND wcr.del_flag = #{weCustomerList.delFlag}
            </if>
            <if test="weCustomerList.name != null and weCustomerList.name !=''">
                AND  wcr.`name` like concat('%',#{weCustomerList.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="weCustomerList.userIds !=null and weCustomerList.userIds !=''">
                AND wcr.first_user_id in
                <foreach collection="weCustomerList.userIds.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="weCustomerList.tagIds !=null and weCustomerList.tagIds !=''">
                AND   FIND_IN_SET(#{weCustomerList.tagIds},wcr.tag_ids)
            </if>
            <if test="weCustomerList.beginTime !=null and weCustomerList.beginTime != '' and weCustomerList.endTime !='' and weCustomerList.endTime != null">
                AND  date_format(wcr.first_add_time,'%Y-%m-%d') BETWEEN #{weCustomerList.beginTime} AND #{weCustomerList.endTime}
            </if>
        </where>
        ORDER BY wcr.first_add_time desc
        <if test="pageDomain !=null">
            <if test="pageDomain.pageNum !=null and pageDomain.pageSize !=null">
                limit #{pageDomain.pageNum} , #{pageDomain.pageSize}
            </if>
        </if>
        ) a ON a.external_userid=wc.external_userid AND a.first_user_id=wc.first_user_id
    </select>

    <select id="countWeCustomerList" resultType="long">
        SELECT count(0) FROM we_customer wcr
        <where>
            <if test="weCustomerList.gender !=null">
                AND wcr.gender=#{weCustomerList.gender}
            </if>

            <if test="weCustomerList.trackState !=null">
                AND wcr.track_state=#{weCustomerList.trackState}
            </if>

            <if test="weCustomerList.addMethod !=null">
                AND wcr.add_method=#{weCustomerList.addMethod}
            </if>

            <if test="weCustomerList.customerType !=null">
                AND wcr.customer_type=#{weCustomerList.customerType}
            </if>

            <if test="weCustomerList.externalUserid !=null">
                AND wcr.external_userid=#{weCustomerList.externalUserid}
            </if>

            <if test="weCustomerList.firstUserId !=null">
                AND wcr.first_user_id=#{weCustomerList.firstUserId}
            </if>

            <if test="weCustomerList.delFlag != null">
                AND wcr.del_flag = #{weCustomerList.delFlag}
            </if>
            <if test="weCustomerList.name != null and weCustomerList.name !=''">
                AND  wcr.`name` like concat('%',#{weCustomerList.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="weCustomerList.userIds !=null and weCustomerList.userIds !=''">
                AND wcr.first_user_id in
                <foreach collection="weCustomerList.userIds.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="weCustomerList.tagIds !=null and weCustomerList.tagIds !=''">
                AND   FIND_IN_SET(#{weCustomerList.tagIds},wcr.tag_ids)
            </if>
            <if test="weCustomerList.beginTime !=null and weCustomerList.beginTime != '' and weCustomerList.endTime !='' and weCustomerList.endTime != null">
                AND  date_format(wcr.first_add_time,'%Y-%m-%d') BETWEEN #{weCustomerList.beginTime} AND #{weCustomerList.endTime}
            </if>
        </where>
        ORDER BY wcr.first_add_time desc
    </select>


    <select id="findWecustomerGroups" resultType="com.linkwechat.wecom.domain.WeCustomerDetail$Groups">
        SELECT
            wg.chat_id,
            wg.group_name,
            wgm.join_time,
            wgm.join_scene,
            (SELECT wu.user_name FROM we_user wu WHERE wu.user_id=wg.owner) as leaderName
        FROM
            we_group_member wgm
            LEFT JOIN we_group wg ON wg.chat_id = wgm.chat_id
        WHERE wgm.del_flag=0 and wg.del_flag=0 AND wgm.user_id=#{userId}
    </select>




    <select id="findCustomerByOperUseridAndCustomerId" resultType="com.linkwechat.wecom.domain.WeCustomerPortrait">
        SELECT
            wc.`name`,
            wc.other_descr as remark,
            wc.phone as remarkMobiles,
            wc.birthday,
            wc.email,
            wc.address,
            wc.qq,
            wc.position,
            wc.corp_name as remarkCorpName,
            wc.other_descr as description,
            wc.first_user_id as user_id,
            wc.avatar,
            wc.external_userid,
            wc.gender,
            wc.track_state,
            wc.customer_type,
            GROUP_CONCAT(if(wt.tag_type=1,wt.`tag_id`,null )) as tagIds,
            GROUP_CONCAT(if(wt.tag_type=1,wt.`name`,null )) as tagNames,
            GROUP_CONCAT(if(wt.tag_type=3,wt.`tag_id`,null )) as personTagIds,
            GROUP_CONCAT(if(wt.tag_type=3,wt.`name`,null )) as personTagNames,
            wc.track_content as content
        FROM
            we_customer wc
       LEFT JOIN we_flower_customer_tag_rel wfcrf ON wfcrf.user_id = wc.first_user_id  AND wfcrf.external_userid=wc.external_userid AND wfcrf.del_flag=0
       LEFT JOIN we_tag wt ON wt.tag_id = wfcrf.tag_id
        WHERE wc.external_userid=#{externalUserid} and  wc.first_user_id=#{userid}
    </select>


    <select id="countSocialConn" resultType="com.linkwechat.wecom.domain.WeCustomerSocialConn">
            SELECT
                    (
                        SELECT
                            count(*)
                        FROM
                            we_customer wfcr WHERE wfcr.external_userid=wc.external_userid
                    ) AS addEmployeNum,
                    (
                      SELECT
                        COUNT(*)
                      FROM
                       we_group_member wgm where  wgm.union_id=wc.external_userid
                    ) AS addGroupNum,
                    (
                        SELECT
                            COUNT(*)
                        FROM we_group_member where chat_id in (
                            SELECT
                                chat_id
                            FROM
                                `we_group_member` where union_id=wc.external_userid
                            ) and user_id=#{userid}
                    ) AS commonGroupNum
                    FROM we_customer wc WHERE wc.external_userid=#{externalUserid}  and wc.first_user_id=#{userid}
    </select>




    <select id="findCusertomerBelongUserInfo" resultType="com.linkwechat.wecom.domain.vo.CusertomerBelongUserInfo">
        SELECT
            wu.user_name as belongUserName,
            wu.user_name,
            wfcr.create_time
        FROM
            we_flower_customer_rel  wfcr
                LEFT JOIN   we_user wu ON wu.user_id=wfcr.user_id
        WHERE wfcr.external_userid=#{externalUserId}
        ORDER BY wfcr.create_time DESC
            LIMIT 1
    </select>



    <insert id="batchAddOrUpdate">
        INSERT INTO we_customer(
        external_userid,
        NAME,
        avatar,
        customer_type,
        gender,
        unionid,
        birthday,
        corp_name,
        position,
        is_open_chat,
        create_time,
        create_by,
        first_user_id,
        first_add_time,
        qq,
        email,
        address,
        phone,
        add_method,
        del_flag,
        state,
        tag_ids
        ) values
        <foreach collection="weCustomers" item="item" index="index" separator=",">
            (#{item.externalUserid},#{item.customerName},#{item.avatar},#{item.customerType},#{item.gender}, #{item.unionid},#{item.birthday},
            #{item.corpName},#{item.position},#{item.isOpenChat}, #{item.createTime},
            #{item.createBy},#{item.firstUserId},#{item.firstAddTime},#{item.qq},#{item.email},#{item.address},#{item.phone},#{item.addMethod},#{item.delFlag},
             #{item.state},#{item.tagIds}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        NAME=IFNULL(VALUES(NAME),we_customer.NAME),
        avatar=IFNULL(VALUES(avatar), we_customer.avatar),
        customer_type=IFNULL(VALUES(customer_type),we_customer.customer_type),
        gender=IFNULL(VALUES(gender), we_customer.gender),
        unionid=IFNULL(VALUES(unionid), we_customer.unionid),
        birthday=IFNULL(VALUES(birthday), we_customer.birthday),
        corp_name=IFNULL(VALUES(corp_name), we_customer.corp_name),
        position=IFNULL(VALUES(position), we_customer.position),
        is_open_chat=IFNULL(VALUES(is_open_chat), we_customer.is_open_chat),
        first_user_id=IFNULL(VALUES(first_user_id), we_customer.first_user_id),
        first_add_time=IFNULL(VALUES(first_add_time),we_customer.first_add_time),
        qq=IFNULL(VALUES(qq), we_customer.qq),
        email=IFNULL(VALUES(email), we_customer.email),
        address=IFNULL(VALUES(address), we_customer.address),
        phone=IFNULL(VALUES(phone), we_customer.phone),
        add_method=IFNULL(VALUES(add_method), we_customer.add_method),
        del_flag=IFNULL(VALUES(del_flag),we_customer.del_flag),
        del_flag=IFNULL(VALUES(del_flag),we_customer.del_flag),
        state=IFNULL(VALUES(state),we_customer.state),
        tag_ids=IFNULL(VALUES(tag_ids),we_customer.tag_ids);
    </insert>


    <select id="noRepeatCountCustomer" resultType="long">
        SELECT
           COUNT(DISTINCT  wc.external_userid)
        FROM
        we_customer wc
        <where>
            <if test="weCustomerList.gender !=null">
                AND wc.gender=#{weCustomerList.gender}
            </if>
            <if test="weCustomerList.trackState !=null">
                AND wc.track_state=#{weCustomerList.trackState}
            </if>
            <if test="weCustomerList.addMethod !=null">
                AND wc.add_method=#{weCustomerList.addMethod}
            </if>

            <if test="weCustomerList.customerType !=null">
                AND wc.customer_type=#{weCustomerList.customerType}
            </if>

            <if test="weCustomerList.externalUserid !=null">
                AND wc.external_userid=#{weCustomerList.externalUserid}
            </if>

            <if test="weCustomerList.firstUserId !=null">
                AND wc.first_user_id=#{weCustomerList.firstUserId}
            </if>


            <if test="weCustomerList.delFlag != null">
                AND wc.del_flag = #{weCustomerList.delFlag}
            </if>
            <if test="weCustomerList.name != null and weCustomerList.name !=''">
                AND  wc.`name` like concat('%',#{weCustomerList.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="weCustomerList.userIds !=null and weCustomerList.userIds !=''">
                AND wc.first_user_id in
                <foreach collection="weCustomerList.userIds.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="weCustomerList.tagIds !=null and weCustomerList.tagIds !=''">
                AND   FIND_IN_SET(#{weCustomerList.tagIds},wc.tag_ids)
            </if>
            <if test="weCustomerList.beginTime !=null and weCustomerList.beginTime != '' and weCustomerList.endTime !='' and weCustomerList.endTime != null">
                AND  date_format(wc.first_add_time,'%Y-%m-%d') BETWEEN #{weCustomerList.beginTime} AND #{weCustomerList.endTime}
            </if>
        </where>
    </select>






    
</mapper>