<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCustomerMessageOriginalMapper">
    <select id="selectCustomerMessagePushs" resultType="com.linkwechat.wecom.domain.vo.CustomerMessagePushVo">
        SELECT
        wcmo.push_type,wcmo.message_type,wcmo.push_range,wcmo.create_by sender,wcmo.create_time
        sendTime,wcm.message_id,wcm.content,wcm.send_info
        FROM we_customer_messageOriginal wcmo LEFT JOIN we_customer_message wcm ON
        wcmo.message_original_Id=wcm.original_id
        <where>
            <if test="sender!=null and sender!=''">
                AND wcmo.create_by LIKE CONCAT('%',#{sender},'%')
            </if>
            <if test="content!=null and content!=''">
                AND wcm.content LIKE CONCAT('%',#{content},'%')
            </if>
            <if test="pushType!=null and pushType!=''">
                AND wcmo.push_type=#{pushType}
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(wcmo.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>

            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(wcmo.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>