<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCustomerMessgaeResultMapper">

    <insert id="batchInsert">
        INSERT INTO we_customer_messgaeResult (
            messgae_result_id,
            message_id,
            external_userid,
            chat_id,
            userid,
            `status`,
            send_time,
            external_name,
            user_name,
            send_type,
            setting_time,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag,
            chat_name
        )
        VALUES
        <foreach collection="customers" item="item" separator="," index="index" >
            (#{item.messgaeResultId},
            #{item.messageId},
            #{item.externalUserid},
            #{item.chatId},
            #{item.userid},
            #{item.status},
            #{item.sendTime},
            #{item.externalName},
            #{item.userName},
            #{item.sendType},
            #{item.settingTime},
            #{item.createBy},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateTime},
            #{item.delFlag},
            #{item.chatName})
        </foreach>
    </insert>

    <update id="updateWeCustomerMessgaeResult">
        UPDATE we_customer_messgaeResult
        <set>
            <if test="sendTime!=null and sendTime!=''">
                send_time=#{sendTime},
            </if>
            <if test="status!=null and status!=''">
                status=#{status}
            </if>
        </set>
        <where>
            message_id=#{messageId}
            <if test="chatId!=null and chatId!=''">
                AND chat_id=#{chatId}
            </if>
            <if test="externalUserid!=null and externalUserid!=''">
                AND external_userid=#{externalUserid}
            </if>
        </where>
    </update>



    <select id="customerMessagePushs" resultType="com.linkwechat.wecom.domain.vo.WeCustomerMessageResultVo">
        SELECT
        user_name,
        GROUP_CONCAT(IFNULL(external_name,chat_name) SEPARATOR '、') customers
        FROM
        we_customer_messgaeResult
        <where>
            message_id=#{messageId}
            <if test="status!=null">
                AND `status`=#{status}
            </if>
        </where>
        GROUP BY user_name
    </select>
    <select id="checkSendStatus" resultType="java.lang.Integer">
        SELECT

            COUNT(1)
        FROM
            we_customer_messgaeResult
       <where>
           message_id =#{messageId} AND `status`='1'
       </where>
    </select>
</mapper>