<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeCustomerMessageMapper">
    <update id="updateWeCustomerMessageMsgIdById">
        UPDATE we_customer_message
        <set>
            msgid=#{msgid}
        </set>
        <where>
            message_id=#{messageId}
        </where>
    </update>
    <update id="updateWeCustomerMessageActualSend">
        UPDATE we_customer_message
        <set>
            actual_send=#{actualSend}
        </set>
        <where>
            message_id=#{messageId}
        </where>
    </update>

    <update id="updateWeCustomerMessageCheckStatusById">
        UPDATE we_customer_message
        <set>
            check_status=#{status}
        </set>
        <where>
            message_id=#{messageId}
        </where>
    </update>



</mapper>
