<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeDepartmentMapper">
    
    <resultMap type="WeDepartment" id="WeDepartmentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectWeDepartmentVo">
        select id, name, parent_id, create_by, update_by, create_time, update_time from we_department
    </sql>


    <insert id="insertBatch">
        insert into we_department (id, `name`, parent_id,create_by,update_by,create_time,update_time)
        values
        <foreach collection="weDepartmentList" item="weDepartment" index="index" separator=",">
            (#{weDepartment.id},#{weDepartment.name},#{weDepartment.parentId}
            ,#{weDepartment.createBy},#{weDepartment.updateBy},#{weDepartment.createTime}
            ,#{weDepartment.updateTime})
        </foreach>
        on duplicate key update `name`= values(`name`),parent_id= values(parent_id)
        ,update_by= values(update_by),update_time= values(update_time)
    </insert>


</mapper>