<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeDepartmentMapper">
    
    <resultMap type="WeDepartment" id="WeDepartmentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectWeDepartmentVo">
        select id, name, parent_id from we_department
    </sql>

    <select id="selectWeDepartmentList"  resultMap="WeDepartmentResult">
        <include refid="selectWeDepartmentVo"/>
    </select>
    
    <select id="selectWeDepartmentById" parameterType="Long" resultMap="WeDepartmentResult">
        <include refid="selectWeDepartmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeDepartment" parameterType="WeDepartment">
        insert into we_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
         </trim>
    </insert>

    <update id="updateWeDepartment" parameterType="WeDepartment">
        update we_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where id = #{id}
    </update>



    <delete id="deleteAllWeDepartment" >
        delete from we_department
    </delete>


    <insert id="batchInsertWeDepartment" >
        insert into we_department (id, name, parent_id)
        values
        <foreach collection="weDepartments" item="weDepartment" index="index" separator=",">
            (#{weDepartment.id},#{weDepartment.name},#{weDepartment.parentId})
        </foreach>
    </insert>


</mapper>