<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeEmpleCodeTagMapper">
    
    <resultMap type="WeEmpleCodeTag" id="WeEmpleCodeTagResult">
        <result property="id"    column="id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="empleCodeId"    column="emple_code_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tagName" column="tag_name" />
    </resultMap>

    <sql id="selectWeEmpleCodeTagVo">
        select id, tag_id, tag_name, emple_code_id, del_flag from we_emple_code_tag
    </sql>

    <select id="selectWeEmpleCodeTagListById" parameterType="Long" resultMap="WeEmpleCodeTagResult">
        SELECT
            wect.id,
            wect.tag_id,
            wect.emple_code_id,
            wect.del_flag,
            wect.tag_name
        FROM
        we_emple_code_tag wect
        WHERE wect.del_flag=0 and wect.emple_code_id=#{empleCodeId}
    </select>

    <select id="selectWeEmpleCodeTagListByIds" parameterType="Long" resultMap="WeEmpleCodeTagResult">
        SELECT
            wect.id,
            wect.tag_id,
            wect.emple_code_id,
            wect.del_flag,
            wect.tag_name
        FROM
        we_emple_code_tag wect
        WHERE wect.del_flag=0
        <if test="empleCodeIdList != null and empleCodeIdList.size > 0">
            and wect.emple_code_id in
            <foreach collection="empleCodeIdList" item="empleCodeId" open="(" close=")" separator=",">
                #{empleCodeId}
            </foreach>
        </if>
    </select>

    
    <select id="selectWeEmpleCodeTagById" parameterType="Long" resultMap="WeEmpleCodeTagResult">
        <include refid="selectWeEmpleCodeTagVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeEmpleCodeTag" parameterType="WeEmpleCodeTag">
        insert into we_emple_code_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="tagName != null">tag_name,</if>
            <if test="empleCodeId != null">emple_code_id,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="tagName != null">#{tagName},</if>
            <if test="empleCodeId != null">#{empleCodeId},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateWeEmpleCodeTag" parameterType="WeEmpleCodeTag">
        update we_emple_code_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="tagName != null">tag_name = #{tagName},</if>
            <if test="empleCodeId != null">emple_code_id = #{empleCodeId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeEmpleCodeTagById" parameterType="Long">
        delete from we_emple_code_tag where id = #{id}
    </delete>

    <delete id="deleteWeEmpleCodeTagByIds" parameterType="String">
        delete from we_emple_code_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsetWeEmpleCodeTag">
        insert into we_emple_code_tag (id,tag_id,tag_name,emple_code_id,del_flag)
        values
        <foreach collection="weEmpleCodeTags" item="scop" index="index" separator=",">
            (#{scop.id},#{scop.tagId},#{scop.tagName},#{scop.empleCodeId},#{scop.delFlag})
        </foreach>
    </insert>

    <update id="batchRemoveWeEmpleCodeTagIds">
        update we_emple_code_tag  set
        del_flag = 2
        where emple_code_id in
        <foreach collection="ids" item="id" index="index"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>