<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeEmpleCodeUseScopMapper">

    <resultMap type="WeEmpleCodeUseScop" id="WeEmpleCodeUseScopResult">
        <result property="id"    column="id"    />
        <result property="empleCodeId"    column="emple_code_id"    />
        <result property="businessId"    column="business_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="businessName" column="business_name"/>
        <result property="mobile" column="mobile"/>
    </resultMap>

    <sql id="selectWeEmpleCodeUseScopVo">
        select id, emple_code_id, business_id, del_flag from we_emple_code_use_scop
    </sql>

    <select id="selectWeEmpleCodeUseScopListById" parameterType="Long" resultMap="WeEmpleCodeUseScopResult">
        SELECT
             wecus.id, wecus.emple_code_id,wecus.business_id,wecus.business_name,wu.mobile
        FROM
        we_emple_code_use_scop wecus
        LEFT JOIN we_user wu ON wu.user_id = wecus.business_id
        WHERE
           wecus.del_flag = 0
           AND wecus.emple_code_id=#{empleCodeId}
    </select>


    <select id="selectWeEmpleCodeUseScopListByIds" parameterType="java.util.List" resultMap="WeEmpleCodeUseScopResult">
        SELECT
             wecus.id, wecus.emple_code_id,wecus.business_id,wecus.business_name,wu.mobile
        FROM
        we_emple_code_use_scop wecus
        LEFT JOIN we_user wu ON wu.user_id = wecus.business_id
        WHERE
           wecus.del_flag = 0
        <if test="empleCodeIdList != null and empleCodeIdList.size > 0">
            and wecus.emple_code_id in
            <foreach collection="empleCodeIdList" item="empleCodeId" open="(" close=")" separator=",">
                #{empleCodeId}
            </foreach>
        </if>
    </select>

    <select id="selectWeEmpleCodeUseScopById" parameterType="Long" resultMap="WeEmpleCodeUseScopResult">
        <include refid="selectWeEmpleCodeUseScopVo"/>
        where id = #{id}
    </select>

    <insert id="insertWeEmpleCodeUseScop" parameterType="WeEmpleCodeUseScop">
        insert into we_emple_code_use_scop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="empleCodeId != null">emple_code_id,</if>
            <if test="businessId != null">business_id,</if>
            <if test="businessName != null">business_name,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="empleCodeId != null">#{empleCodeId},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="businessName != null">#{businessName},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateWeEmpleCodeUseScop" parameterType="WeEmpleCodeUseScop">
        update we_emple_code_use_scop
        <trim prefix="SET" suffixOverrides=",">
            <if test="empleCodeId != null">emple_code_id = #{empleCodeId},</if>
            <if test="businessId != null">business_id = #{businessId},</if>
            <if test="businessName != null">business_name = #{businessName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeEmpleCodeUseScopById" parameterType="Long">
        delete from we_emple_code_use_scop where id = #{id}
    </delete>

    <delete id="deleteWeEmpleCodeUseScopByIds" parameterType="String">
        delete from we_emple_code_use_scop where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsetWeEmpleCodeUseScop">
        insert into we_emple_code_use_scop (id,emple_code_id,business_id,business_name, business_id_type, del_flag)
        values
        <foreach collection="weEmpleCodeUseScops" item="scop" index="index" separator=",">
            (#{scop.id},#{scop.empleCodeId},#{scop.businessId},#{scop.businessName},#{scop.businessIdType},#{scop.delFlag})
        </foreach>
    </insert>

    <update id="batchRemoveWeEmpleCodeUseScopIds">
        update we_emple_code_use_scop  set
        del_flag = 2
        where emple_code_id in
        <foreach collection="list" item="id" index="index"
                 separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>