<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeGroupCodeMapper">

    <resultMap type="WeGroupCode" id="WeGroupCodeResult">
        <result property="id" column="id"/>
        <result property="codeUrl" column="code_url"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="activityName" column="activity_name"/>
        <result property="activityDesc" column="activity_desc"/>
        <result property="activityScene" column="activity_scene"/>
        <result property="guide" column="guide"/>
        <result property="showTip" column="show_tip"/>
        <result property="tipMsg" column="tip_msg"/>
        <result property="customerServerQrCode" column="customer_server_qr_code"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="availableCodes" column="available_codes"/>
        <result property="totalScanTimes" column="total_scan_times"/>
        <result property="aboutToExpireCodes" column="about_to_expire_codes"/>
    </resultMap>

    <sql id="selectWeGroupCodeVo">
        SELECT
        w.`id`,
        w.`code_url`,
        w.`avatar_url`,
        w.`activity_name`,
        w.`activity_desc`,
        w.`activity_scene`,
        w.`guide`,
        w.`show_tip`,
        w.`tip_msg`,
        w.`customer_server_qr_code`,
        w.`del_flag`,
        w.`create_by`,
        w.`create_time`,
        w.`update_by`,
        w.`update_time`,
        w.`remark`,
        IFNULL((SELECT count(1) FROM we_group_code_actual WHERE (SELECT IFNULL(scan_code_times, 0)) &lt; scan_code_times_limit AND group_code_id = w.`id` ), 0) AS available_codes,
        w.total_scan_times,
        IFNULL((SELECT count(1) FROM we_group_code_actual WHERE group_code_id = w.`id` AND TIMESTAMPDIFF(DAY, sysdate(), effect_time ) &lt; 3), 0) AS about_to_expire_codes
        FROM
        we_group_code w
    </sql>

    <select id="selectWeGroupCodeList" parameterType="WeGroupCode" resultMap="WeGroupCodeResult">
        <include refid="selectWeGroupCodeVo"/>
        <where>
            w.`del_flag` = 0
            <if test="activityName != null  and activityName != ''">and w.`activity_name` like concat('%', #{activityName},
                '%')
            </if>
            <if test="activityDesc != null  and activityDesc != ''">and w.`activity_desc` like concat('%', #{activityDesc},
                '%')
            </if>
            <if test="activityScene != null  and activityScene != ''">and w.`activity_scene` = #{activityScene}</if>
            <if test="guide != null  and guide != ''">and w.`guide` = #{guide}</if>
            <if test="showTip != null and showTip != ''">and w.`show_tip` = #{showTip}</if>
            <if test="tipMsg != null  and tipMsg != ''">and w.`tip_msg` = #{tipMsg}</if>
            <if test="createBy != null  and createBy != ''">and w.`create_by` = #{createBy}</if>
            <if test="customerServerQrCode != null  and customerServerQrCode != ''">and w.`customer_server_qr_code` =
                #{customerServerQrCode}
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                and date_format(w.`create_time`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and date_format(w.`create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>

        </where>
        ORDER BY w.create_time DESC
    </select>

    <select id="selectWeGroupCodeById" parameterType="Long" resultMap="WeGroupCodeResult">
        <include refid="selectWeGroupCodeVo"/>
        where w.`id` = #{id} and w.`del_flag` = 0
    </select>

    <select id="selectWeGroupListByGroupCodeId" parameterType="Long" resultType="WeGroup">
        SELECT
            wg.*
        FROM
            we_group wg
                LEFT JOIN we_group_code_actual wgca ON wgca.chat_id = wg.chat_id AND wgca.`del_flag` = 0
                LEFT JOIN we_group_code wgc ON wgc.id = wgca.group_code_id AND wgc.`del_flag` = 0
        WHERE
            wgc.id = #{groupCodeId}
    </select>

    <select id="selectScanTimesByGroupCodeId" parameterType="Long" resultType="int">
        SELECT
            IFNULL(SUM( wgca.scan_code_times ), 0) AS scan_times
        FROM
            we_group_code_actual wgca
                LEFT JOIN we_group_code wgc ON wgc.id = wgca.group_code_id
        WHERE
            wgc.id = #{groupCodeId}
        GROUP BY
            wgc.id
    </select>

    <select id="selectGroupCodeUrlByEmplCodeState" parameterType="String" resultType="String">
        SELECT DISTINCT
            wgc.code_url
        FROM
            we_group_code wgc
                LEFT JOIN we_community_new_group wcn ON wgc.id = wcn.group_code_id AND wcn.del_flag = 0
                LEFT JOIN we_emple_code wec ON wec.id = wcn.empl_code_id AND wec.del_flag = 0
        WHERE
            wgc.del_flag = 0 AND wec.state = #{state}
    </select>


    <insert id="insertWeGroupCode" parameterType="WeGroupCode">
        insert into we_group_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="codeUrl != null">code_url,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="activityName != null">activity_name,</if>
            <if test="activityDesc != null">activity_desc,</if>
            <if test="activityScene != null">activity_scene,</if>
            <if test="guide != null">guide,</if>
            <if test="showTip != null">show_tip,</if>
            <if test="tipMsg != null">tip_msg,</if>
            <if test="customerServerQrCode != null">customer_server_qr_code,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">del_flag,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="codeUrl != null">#{codeUrl},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="activityName != null">#{activityName},</if>
            <if test="activityDesc != null">#{activityDesc},</if>
            <if test="activityScene != null">#{activityScene},</if>
            <if test="guide != null">#{guide},</if>
            <if test="showTip != null">#{showTip},</if>
            <if test="tipMsg != null">#{tipMsg},</if>
            <if test="customerServerQrCode != null">#{customerServerQrCode},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWeGroupCode" parameterType="WeGroupCode">
        update we_group_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="activityDesc != null">activity_desc = #{activityDesc},</if>
            <if test="activityScene != null">activity_scene = #{activityScene},</if>
            <if test="guide != null">guide = #{guide},</if>
            <if test="showTip != null">show_tip = #{showTip},</if>
            <if test="tipMsg != null">tip_msg = #{tipMsg},</if>
            <if test="customerServerQrCode != null">customer_server_qr_code = #{customerServerQrCode},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>