<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeGroupMessageListMapper">
    
    <resultMap type="WeGroupMessageList" id="WeGroupMessageListResult">
        <result property="id"    column="id"    />
        <result property="msgId"    column="msg_id"    />
        <result property="chatType"    column="chat_type"    />
        <result property="userId"    column="user_id"    />
        <result property="sendTime"    column="send_time"    />
        <result property="createType"    column="create_type"    />
        <result property="isTask"    column="is_task"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


</mapper>