<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeGroupMemberMapper">



    <select id="selectWeGroupMemberList" parameterType="WeGroupMember" resultType="com.linkwechat.wecom.domain.WeGroupMember">
        SELECT
            wgm.join_time,
            wgm.type,
            wgm.join_scene,
            wgm.name,
            wgm.group_nick_name,
            wgm.invitor_user_id
        FROM
        we_group_member wgm
        <where>
           <if test="delFlag !=null">
               and wgm.del_flag=#{delFlag}
           </if>
            <if test="chatId != null ">
                and wgm.chat_id = #{chatId}
            </if>
            <if test="name != null  and name != ''">
                AND wgm.name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>


    <select id="selectWeGroupMemberListByChatId" resultType="com.linkwechat.wecom.domain.dto.WeGroupMemberDto">
        SELECT
            wgm.chat_id,
            wgm.join_time,
            wgm.type,
            wgm.join_scene,
            wgm.name as member_name,
            (case when wu.head_image_url is null then wc.avatar else wu.head_image_url end) as member_avatar
            FROM
            we_group_member wgm
            left join we_user wu on wu.user_id = wgm.user_id and wgm.type = 1
            left join we_customer wc on wc.external_userid = wgm.user_id and wgm.type = 2
        <where>
            <if test="chatId != null "> and wgm.chat_id = #{chatId}</if>
        </where>
    </select>

    <insert id="insertBatch">
        insert into we_group_member (chat_id, user_id, union_id, join_time, join_scene, `type`,
        group_nick_name,`name`,invitor_user_id,
        create_by, create_time,update_by, update_time,del_flag)
        values
        <foreach collection="weGroupMembers" item="weGroupMember" index="index" separator=",">
            (#{weGroupMember.chatId},#{weGroupMember.userId},#{weGroupMember.unionId},
            #{weGroupMember.joinTime},#{weGroupMember.joinScene},#{weGroupMember.type},
            #{weGroupMember.groupNickName},#{weGroupMember.name},#{weGroupMember.invitorUserId},
            #{weGroupMember.createBy},#{weGroupMember.createTime},
            #{weGroupMember.updateBy},#{weGroupMember.updateTime},#{weGroupMember.delFlag})
        </foreach>
        on duplicate key update
        join_time= values(join_time),join_scene= values(join_scene),
        group_nick_name= values(group_nick_name),`name`= values(`name`),invitor_user_id= values(invitor_user_id),
        `type`= values(`type`),update_by= values(update_by),update_time= values(update_time),del_flag=values(del_flag)
    </insert>
</mapper>