<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeGroupMemberMapper">



    <select id="selectWeGroupMemberList" parameterType="WeGroupMember" resultType="com.linkwechat.wecom.domain.WeGroupMember">
        SELECT
            wgm.join_time,
            wgm.type,
            wgm.join_scene,
            CASE
            WHEN wgm.type=1 THEN
            (
                    SELECT wu.user_name FROM  we_user wu
                    WHERE wu.user_id=wgm.user_id
                    <if test="memberName != null  and memberName != ''">
                     AND wu.user_name like concat('%', #{memberName}, '%')
                   </if>
            )
            WHEN wgm.type = 2 THEN
            (
                    SELECT wc.name FROM we_customer wc
                    WHERE wc.external_userid=wgm.user_id
                    <if test="memberName != null  and memberName != ''">
                        AND wc.name like concat('%', #{memberName}, '%')
                    </if>
            )
            END memberName
        FROM
        we_group_member wgm
        <where>
            <if test="chatId != null "> and wgm.chat_id = #{chatId}</if>
            <if test="memberName != null  and memberName != ''">HAVING memberName  IS NOT NULL</if>
        </where>
    </select>


    <select id="selectWeGroupMemberListByChatId" resultType="com.linkwechat.wecom.domain.dto.WeGroupMemberDto">
        SELECT
            wgm.chat_id,
            wgm.join_time,
            wgm.type,
            wgm.join_scene,
            (case when wu.head_image_url is null then wc.avatar else wu.head_image_url end) as member_avatar,
            (case when wu.user_name is null then wc.name else wu.user_name end) as member_name
            FROM
            we_group_member wgm
            left join we_user wu on wu.user_id = wgm.user_id and wgm.type = 1
            left join we_customer wc on wc.external_userid = wgm.user_id and wgm.type = 2
        <where>
            <if test="chatId != null "> and wgm.chat_id = #{chatId}</if>
        </where>
    </select>

</mapper>