<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeKeywordGroupTaskKwMapper">
    <insert id="batchBindsTaskKeyword">
        insert into we_keyword_group_kw(task_id, keyword) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.taskId},#{item.keyword})
        </foreach>
    </insert>
</mapper>