<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeMaterialMapper">

    <resultMap id="materialMap" type="com.linkwechat.wecom.domain.WeMaterial">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="materialUrl" column="material_url"/>
        <result property="content" column="content"/>
        <result property="materialName" column="material_name"/>
        <result property="digest" column="digest"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="audioTime" column="audio_time"/>
    </resultMap>

    <resultMap id="materialVoMap" type="WeMaterialVo">
        <id property="mediaType" column="media_type"/>
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="materialUrl" column="material_url"/>
        <result property="content" column="content"/>
        <result property="materialName" column="material_name"/>
        <result property="digest" column="digest"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="audioTime" column="audio_time"/>
    </resultMap>

    <insert id="insertWeMaterial">
        INSERT INTO
        we_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="categoryId!=null">
                category_id,
            </if>
            <if test="materialUrl!=null">
                material_url,
            </if>
            <if test="content!=null">
                content,
            </if>
            <if test="materialName!=null">
                material_name,
            </if>
            <if test="digest!=null">
                digest,
            </if>
            <if test="coverUrl!=null">
                cover_url,
            </if>
            <if test="createBy!=null">
                create_by,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateBy!=null">
                update_by,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="audioTime!=null">
                audio_time
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="categoryId!=null">
                #{categoryId},
            </if>
            <if test="materialUrl!=null">
                #{materialUrl},
            </if>
            <if test="content!=null">
                #{content},
            </if>
            <if test="materialName!=null">
                #{materialName},
            </if>
            <if test="digest!=null">
                #{digest},
            </if>
            <if test="coverUrl!=null">
                #{coverUrl},
            </if>
            <if test="createBy!=null">
                #{createBy},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateBy!=null">
                #{updateBy},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="audioTime!=null">
                #{audioTime}
            </if>
        </trim>
    </insert>

    <update id="updateWeMaterial">
        update we_material set
        <if test="id!=null">
            id=#{id},
        </if>
        <if test="categoryId!=null">
            category_id=#{categoryId},
        </if>
        <if test="materialUrl!=null">
            material_url=#{materialUrl},
        </if>
        <if test="content!=null">
            content=#{content},
        </if>
        <if test="materialName!=null">
            material_name=#{materialName},
        </if>
        <if test="digest!=null">
            digest=#{digest},
        </if>
        <if test="coverUrl!=null">
            cover_url=#{coverUrl},
        </if>
        <if test="createBy!=null">
            create_by=#{createBy},
        </if>
        <if test="createTime!=null">
            create_time=#{createTime},
        </if>
        <if test="updateBy!=null">
            update_by=#{updateBy},
        </if>
        <if test="updateTime!=null">
            update_time=#{updateTime},
        </if>
        <if test="audioTime!=null">
            audio_time=#{audioTime}
        </if>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </update>
    <update id="resetCategory">
        UPDATE we_material
        <set>
            category_id=#{categoryId}
        </set>
        <where>
            id=#{material}
        </where>
    </update>

    <delete id="deleteWeMaterialById">
        UPDATE we_material
        set del_flag=1
        <where>
            id=#{id}
        </where>
    </delete>

    <delete id="deleteWeMaterialByIds">
        UPDATE we_material
        set del_flag=1
        <where>
            id in
            <foreach collection="array" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>

    <select id="findWeMaterialById" resultMap="materialMap">
        SELECT
        <include refid="material"/>
        FROM we_material
        <where>
            del_flag=0 and id=#{id}
        </where>
    </select>

    <select id="findWeMaterials" resultMap="materialMap">
        SELECT
        wm.id,wm.category_id,wm.material_url,wm.content,wm.material_name,wm.digest,wm.cover_url,wm.create_by,wm.create_time,wm.update_by,wm.update_time,wm.audio_time
        FROM we_material wm LEFT JOIN we_category wc ON wm.category_id=wc.id
        <where>
            wm.del_flag=0
            <if test="categoryId!=null and categoryId!=''">
                AND wm.category_id=#{categoryId}
            </if>
            <if test="search!=null and search!=''">
                AND (wm.material_name LIKE CONCAT('%',#{search},'%') OR wm.content LIKE CONCAT('%',#{search},'%'))
            </if>
            <if test="mediaType!=null">
                AND wc.media_type=#{mediaType}
            </if>
        </where>
    </select>

    <select id="findMaterialVoListByIds" resultMap="materialVoMap">
        SELECT wc.media_type, wm.id, wm.material_url,wm.content,wm.material_name,wm.digest,wm.audio_time,wm.cover_url,wm.create_by,wm.create_time,wm.update_by,wm.update_time
        from we_material wm
        left join we_category wc on wc.id = wm.category_id
        where
            wm.id in
            <foreach collection="array" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
    </select>

    <sql id="material">
        id,category_id,material_url,content,material_name,digest,cover_url,create_by,create_time,update_by,update_time,audio_time
    </sql>

</mapper>