<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WePresTagGroupTaskTagMapper">

    <insert id="batchBindsTaskTags">
        insert into we_pres_tag_group_tag(task_id, tag_id, create_by, create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.taskId},#{item.tagId}, #{item.createBy}, #{item.createTime})
        </foreach>
    </insert>
</mapper>