<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WePresTagGroupTaskStatMapper">

    <resultMap type="WePresTagGroupTaskStatVo" id="WePresTagGroupTaskStatResult">
        <result property="customerName"    column="customer_name"    />
        <result property="isSent"    column="is_sent"    />
        <result property="isInGroup"    column="is_in_group"    />
    </resultMap>

    <delete id="removeStatByTaskId" parameterType="Long">
        delete from we_pres_tag_group_stat where task_id = #{taskId}
    </delete>

    <select id="getAllExternalIdByTaskId" parameterType="Long" resultType="String">
        SELECT DISTINCT
            wc.external_userid
        FROM
            we_customer wc
                LEFT JOIN we_group_member wgm ON wgm.user_id = wc.external_userid
                LEFT JOIN we_group wg ON wg.chat_id = wgm.chat_id
                LEFT JOIN we_group_code_actual wgca ON wgca.chat_id = wg.chat_id
                LEFT JOIN we_pres_tag_group wptg ON wptg.group_code_id = wgca.group_code_id
        WHERE
            wptg.task_id = #{taskId}
    </select>
    
    <select id="selectStatInfoByTaskId" parameterType="Long" resultMap="WePresTagGroupTaskStatResult">
        SELECT
            wc.`name`,
            0 AS is_sent,
            (
                SELECT
                    count(1) > 0
                FROM
                    we_customer wc1
                        LEFT JOIN we_group_member wgm ON wgm.user_id = wc1.external_userid
                        LEFT JOIN we_group wg ON wg.chat_id = wgm.chat_id
                        LEFT JOIN we_group_code_actual wgca ON wgca.chat_id = wg.chat_id
                        LEFT JOIN we_pres_tag_group wptg1 ON wptg1.group_code_id = wgca.group_code_id
                WHERE
                    wc1.external_userid = wptgs.external_userid
            ) AS is_in_group
        FROM
            we_pres_tag_group_stat wptgs
                LEFT JOIN we_pres_tag_group wptg ON wptgs.task_id = wptg.task_id
                LEFT JOIN we_customer wc ON wc.external_userid = wptgs.external_userid
        WHERE
            wptgs.task_id = #{taskId}


    </select>
</mapper>