<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeTagGroupMapper">


    <sql id="selectWeTagGroupVo">
        select  gourp_name, create_time from we_tag_group
    </sql>


    <resultMap type="WeTagGroup" id="WeTagGroupResult">
        <result property="gourpName"    column="gourp_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy" column="create_by" />
        <result property="groupId"    column="group_id"    />
        <collection property="weTags"
                     select="findWeTag"
                    column="{groupId=group_id}">
        </collection>
    </resultMap>


    <resultMap id="WeTagBaseMapper" type="com.linkwechat.wecom.domain.WeTag">
        <id property="tagId" column="tag_id"/>
        <result property="groupId"    column="group_id" />
        <result property="name"    column="name"    />
    </resultMap>


    <select id="selectWeTagGroupList" parameterType="WeTagGroup" resultMap="WeTagGroupResult">
        SELECT
           wtg.*
        FROM
          we_tag_group wtg
        where
          wtg.del_flag=0
        <if test="groupTagType != null">and wtg.group_tag_type=#{groupTagType}</if>
        ORDER BY wtg.create_time DESC
    </select>

    <select id="findWeTag" resultMap="WeTagBaseMapper">
        SELECT
            wt.tag_id ,
            wt.group_id,
            wt.name
        FROM
        we_tag wt
        where
            wt.group_id = #{groupId} and wt.del_flag=0
    </select>
    
    <select id="getWeTagGroupByIds"  resultMap="WeTagGroupResult">
         SELECT
           wtg.*,
           wt.group_id,
           wt.name,
           wtg.create_by,
           wtg.group_id as tag_group_id
        FROM
          we_tag_group wtg
        LEFT JOIN we_tag wt ON wtg.group_id = wt.group_id
        where
          wtg.status=0 and wt.status=0
          and wtg.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
        
    <insert id="insertWeTagGroup" parameterType="WeTagGroup">
        insert into we_tag_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gourpName != null">gourp_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="groupId != null">group_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="gourpName != null">#{gourpName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="groupId != null">#{groupId},</if>
         </trim>
    </insert>

    <update id="updateWeTagGroup" parameterType="WeTagGroup">
        update we_tag_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="gourpName != null">gourp_name = #{gourpName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>



    <update id="deleteWeTagGroupByIds" parameterType="String">
        update we_tag_group set status=2
        where group_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <insert id="batchInsetWeTagGroup" >
        insert into we_tag_group (id, gourp_name, create_time, create_by,group_id)
        values
        <foreach collection="weTagGroups" item="weTagGroup" index="index" separator=",">
            (#{weTagGroup.id},#{weTagGroup.gourpName},#{weTagGroup.createTime},#{weTagGroup.createBy},#{weTagGroup.groupId})
        </foreach>
    </insert>


<!--    <select id="findCustomerTagByFlowerCustomerRelId" resultMap="WeTagGroupResult">-->
<!--           SELECT-->
<!--                wt.tag_id,-->
<!--                wt.`name`,-->
<!--                wtg.gourp_name,-->
<!--                wtg.group_id-->
<!--            FROM-->
<!--                we_flower_customer_tag_rel wfctr-->
<!--            INNER JOIN we_tag wt ON wfctr.tag_id = wt.tag_id-->
<!--            INNER JOIN we_tag_group wtg ON wt.group_id = wtg.group_id-->
<!--            WHERE wt.`status`=0 and wtg.`status`=0 and wfctr.user_id=#{userid} and wfctr.external_userid=#{externalUserid}-->
<!--    </select>-->

    
</mapper>