<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeTagGroupMapper">
    
    <resultMap type="WeTagGroup" id="WeTagGroupResult">
        <result property="id"    column="id"    />
        <result property="gourpName"    column="gourp_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWeTagGroupVo">
        select id, gourp_name, create_time from we_tag_group
    </sql>

    <select id="selectWeTagGroupList" parameterType="WeTagGroup" resultMap="WeTagGroupResult">
        <include refid="selectWeTagGroupVo"/>
        <where>  
            <if test="gourpName != null  and gourpName != ''"> and gourp_name like concat('%', #{gourpName}, '%')</if>
        </where>
    </select>
    
    <select id="selectWeTagGroupById" parameterType="Long" resultMap="WeTagGroupResult">
        <include refid="selectWeTagGroupVo"/>
        where id = #{id} and status=0
    </select>
        
    <insert id="insertWeTagGroup" parameterType="WeTagGroup">
        insert into we_tag_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gourpName != null">gourp_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="gourpName != null">#{gourpName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWeTagGroup" parameterType="WeTagGroup">
        update we_tag_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="gourpName != null">gourp_name = #{gourpName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeTagGroupById" parameterType="Long">
        delete from we_tag_group where id = #{id}
    </delete>

    <delete id="deleteWeTagGroupByIds" parameterType="String">
        delete from we_tag_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>