<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkwechat.wecom.mapper.WeUserMapper">

    <resultMap type="com.linkwechat.wecom.domain.WeUser" id="WeUserResult">
        <result property="userId" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="alias" column="alias"/>
        <result property="headImageUrl" column="head_image_url"/>
        <result property="gender" column="gender"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="wxAccount" column="wx_account"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="isLeaderInDept" column="is_leader_in_dept"/>
        <result property="joinTime" column="join_time"/>
        <result property="idCard" column="id_card"/>
        <result property="qqAccount" column="qq_account"/>
        <result property="telephone" column="telephone"/>
        <result property="address" column="address"/>
        <result property="birthday" column="birthday"/>
        <result property="remark" column="remark"/>
        <result property="isActivate" column="is_activate"/>
        <result property="isOpenChat" column="is_open_chat"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectWeUserVo">
        select user_id, head_image_url, user_name, alias,
        gender, mobile, email, wx_account, department,
        `position`, is_leader_in_dept, join_time, enable, id_card,
        qq_account, telephone, address, birthday, remark,is_activate,
        is_open_chat,create_by,update_by,create_time,update_time from we_user
    </sql>

    <select id="getList" parameterType="WeUser" resultMap="WeUserResult">
        <include refid="selectWeUserVo"/>
        <where>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="name != null  and name != ''">and user_name like concat('%', #{name}, '%')</if>
            <if test="alias != null  and alias != ''">and alias = #{alias}</if>
            <if test="gender != null ">and gender = #{gender}</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="wxAccount != null  and wxAccount != ''">and wx_account = #{wxAccount}</if>
            <if test="department != null  and department != ''  ">and FIND_IN_SET(#{department},department)</if>
            <if test="position != null  and position != ''">and position = #{position}</if>
            <if test="isLeaderInDept != null ">and is_leader_in_dept = #{isLeaderInDept}</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(join_time,'%Y-%m-%d') &gt;= date_format(#{beginTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(join_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="idCard != null  and idCard != ''">and id_card = #{idCard}</if>
            <if test="qqAccount != null  and qqAccount != ''">and qq_account = #{qqAccount}</if>
            <if test="telephone != null  and telephone != ''">and telephone = #{telephone}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="birthday != null ">and birthday = #{birthday}</if>
            <if test="isActivate != null ">and is_activate = #{isActivate}</if>
            <if test="isOpenChat != null ">and is_open_chat = #{isOpenChat}</if>
            and is_activate !=6
        </where>
    </select>

    <insert id="insertBatch">
        insert into we_user (user_id, head_image_url, user_name, alias, gender, mobile, email, wx_account,
        department, `position`, is_leader_in_dept, join_time, enable, id_card, qq_account, telephone, address,
        birthday, remark, is_activate,create_by,update_by,create_time,update_time)
        values
        <foreach collection="weUserList" item="weUser" index="index" separator=",">
            (
            #{weUser.userId},#{weUser.headImageUrl},#{weUser.name},#{weUser.alias},#{weUser.gender},#{weUser.mobile},
            #{weUser.email},#{weUser.wxAccount},#{weUser.department},#{weUser.position},#{weUser.isLeaderInDept},
            #{weUser.joinTime},#{weUser.enable},#{weUser.idCard},#{weUser.qqAccount},#{weUser.telephone},#{weUser.address},
            #{weUser.birthday},#{weUser.remark},#{weUser.isActivate},
            #{weUser.createBy},#{weUser.updateBy},#{weUser.createTime},#{weUser.updateTime}
            )
        </foreach>
        on duplicate key update head_image_url= values(head_image_url),
        user_name= values(user_name),alias= values(alias),
        mobile= values(mobile),email= values(email),
        wx_account= values(wx_account),department= values(department),
        position= values(position),is_leader_in_dept= values(is_leader_in_dept),
        enable= values(enable),id_card= values(id_card),qq_account= values(qq_account),
        telephone= values(telephone),address= values(address),
        birthday= values(birthday),remark= values(remark),
        is_activate= values(is_activate),
        update_by= values(update_by),
        update_time= values(update_time)
    </insert>


    <select id="leaveNoAllocateUserList" parameterType="WeLeaveUserVo"
            resultType="com.linkwechat.wecom.domain.vo.WeLeaveUserVo">
        SELECT
        *
        FROM
        (
        SELECT
        wu.user_id,
        wu.user_name,
        wu.dimission_time,
        (SELECT GROUP_CONCAT(wd.`name`) FROM we_department wd WHERE wd.id=wu.department) as department,
        (SELECT count(*) FROM we_allocate_customer wac
        INNER  JOIN we_customer wc ON wac.external_userid=wc.external_userid
        and wac.handover_userid=wc.first_user_id  WHERE wac.handover_userid=wu.user_id) as allocateCustomerNum,
        (SELECT COUNT(*) FROM we_allocate_group wg WHERE wg.old_owner=wu.user_id) as allocateGroupNum
        FROM
        we_user wu
        <where>
            <if test="userName != null and userName !=''">and wu.user_name like concat('%', #{userName}, '%')</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(wu.dimission_time,'%Y-%m-%d') &gt;= date_format(#{beginTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(wu.dimission_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="isActivate != null ">and wu.is_activate = #{isActivate}</if>
            <if test="isAllocate != null ">and wu.is_allocate = #{isAllocate}</if>
        </where>
        )wuu WHERE allocateCustomerNum >0 or allocateGroupNum>0
    </select>


    <select id="leaveAllocateUserList" parameterType="WeLeaveUserVo"
            resultType="com.linkwechat.wecom.domain.vo.WeLeaveUserVo">
        SELECT
        wu.user_id,
        wu.user_name,
        wu.dimission_time,
        (SELECT GROUP_CONCAT(wd.`name`) FROM we_department wd WHERE wd.id=wu.department) as department,
        (SELECT COUNT(*) FROM we_allocate_customer wac WHERE wac.handover_userid=wu.user_id) as allocateCustomerNum,
        (SELECT COUNT(*) FROM we_allocate_group wag WHERE wag.old_owner=wu.user_id) as allocateGroupNum
        FROM we_user wu
        <where>
            <if test="userName != null and userName !=''">and wu.user_name like concat('%', #{userName}, '%')</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(wu.dimission_time,'%Y-%m-%d') &gt;= date_format(#{beginTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(wu.dimission_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="isActivate != null ">and wu.is_activate = #{isActivate}</if>
            <if test="isAllocate != null ">and wu.is_allocate = #{isAllocate}</if>
        </where>
    </select>

    <select id="getAllocateCustomers" parameterType="WeAllocateCustomersVo"
            resultType="com.linkwechat.wecom.domain.vo.WeAllocateCustomersVo">
        SELECT
        wc.`name` as customerName,
        wu.user_name as takeUserName,
        wac.allocate_time,
        wc.external_userid as externalUserid,
        wc.first_user_id as userId,
        (SELECT GROUP_CONCAT(wd.`name`) FROM we_department wd WHERE wd.id=wu.department) as department
        FROM
        we_allocate_customer wac
        LEFT JOIN we_customer wc ON wac.external_userid=wc.external_userid
        LEFT JOIN we_user wu ON wu.user_id=wac.takeover_userid
        WHERE wc.del_flag=1
            <if test="handoverUserId != null and handoverUserId !=''">and wc.first_user_id=#{handoverUserId}</if>
            <if test="handoverUserId != null and handoverUserId !=''">and wac.handover_userid=#{handoverUserId}</if>
            <if test="beginTime != null and beginTime !='' and endTime != null and endTime !=''">
                DATE_FORMAT(wu.dimission_time,'%Y-%m-%d') BETWEEN #{beginTime} AND #{endTime}
            </if>
    </select>


    <select id="getAllocateGroups" parameterType="WeAllocateGroupsVo"
            resultType="com.linkwechat.wecom.domain.vo.WeAllocateGroupsVo">
        SELECT
        wu.user_name as newOwnerName,
        wg.chat_id,
        IF(wg.group_name,wg.group_name,"群聊")  as group_name,
        (SELECT count(*) FROM we_group_member wgm WHERE wgm.chat_id=wg.chat_id) as memberNum,
        (SELECT GROUP_CONCAT(wd.`name`) FROM we_department wd WHERE wd.id=wu.department) as department,
        wag.allocate_time
        FROM
        we_allocate_group wag
        LEFT JOIN we_group wg ON wag.chat_id=wg.chat_id
        LEFT JOIN we_user wu ON wu.user_id=wag.new_owner
        <where>
            <if test="oldOwner != null and oldOwner !=''">and wag.old_owner=#{oldOwner}</if>
            <if test="beginTime != null and beginTime !='' and endTime != null and endTime !=''">
                DATE_FORMAT(wu.dimission_time,'%Y-%m-%d') BETWEEN #{beginTime} AND #{endTime}
            </if>
        </where>

    </select>


    <select id="findWeUserByCutomerId" resultType="com.linkwechat.wecom.domain.WeCustomerAddUser">
        SELECT
            wu.user_name,
            wu.user_id,
            wu.head_image_url,
            wc.first_add_time as createTime
        FROM
            we_customer wc
                INNER JOIN we_user wu ON wc.first_user_id = wu.user_id
        WHERE wc.external_userid=#{externalUserid}
    </select>


</mapper>